.root {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 340px;
  justify-content: center;
  align-items: center;
  background: #ebf0f2;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 200px;
}
.svg___6On80 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: #2b4f57 /* plasmic-token: tU6KMCZYm */;
  margin-bottom: 40px;
  flex-shrink: 0;
}
.heading__cfwWt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.text___9QpDz {
  width: auto;
  font-size: 36px /* plasmic-token: KXQj2QAld */;
  margin-bottom: 10px;
}
.paragraph__ocHSe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg___9VFia {
  left: auto;
  top: auto;
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 185px;
  height: 194px;
  color: #3d707d /* plasmic-token: P5Mf1KOrz */;
  flex-shrink: 0;
  display: none;
}
.svg__circleVariant___9VFiadHxsA {
  position: absolute;
  left: -66px;
  top: auto;
  bottom: -13px;
  display: block;
}
.svg__uoYd {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #66a699 /* plasmic-token: WOaOUZL1h */;
  width: 174px;
  height: 174px;
  left: auto;
  top: -75px;
  right: -44px;
  flex-shrink: 0;
  display: none;
}
.svg__starVariant__uoYdTctkj {
  display: block;
}
