.Form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Input {
  width: 100%;
}

.Button {
  margin: auto;
  align-self: center;
}

.Row .Input:nth-child(1) {
  margin-right: 12px;
}
.Row .Input:nth-child(2) {
  margin-left: 12px;
}

@media all and (max-width: 1024px) {
  .Row {
    flex-direction: column;
  }
  .Row .Input {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
