.Wrapper {
  position: relative;
  margin-bottom: 64px;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Input {
  width: 100%;
}

.Button {
  margin: auto;
  align-self: center;
}

.Row .Input:nth-child(1) {
  margin-right: 12px;
}
.Row .Input:nth-child(2) {
  margin-left: 12px;
}

.Error {
  font-size: 13px;
  color: #c9595c;
  margin: auto;
  font-weight: bold;
  margin-top: 16px;
  text-align: center;
}
.Message {
  font-size: 13px;
  color: #5ea36e;
  font-weight: bold;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

.IconRight {
  z-index: 0;
  position: absolute;
  top: 0px;
  right: -106px;
  width: 174px;
  height: 174px;
  display: none; /* REMOVE WHEN SWITCHING TO FORM */
}

.IconRight path {
  fill: #66a699;
}

.IconLeft {
  z-index: 0;
  position: absolute;
  bottom: -49px;
  left: -55px;
  width: 185px;
  height: 194px;
  display: none; /* REMOVE WHEN SWITCHING TO FORM */
}

.IconLeft path {
  fill: #3d707d;
}

@media all and (max-width: 768px) {
  .Row {
    flex-direction: column;
  }
  .Row .Input {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
