.Row {
  display: flex;
  margin: 32px 0;
}

.Box {
  display: flex;
  align-items: center;
  background: white;
  padding: 32px;
  width: 50%;
}

.Box:nth-child(1) {
  margin-right: 16px;
}

.BoxContent {
  margin-left: 32px;
}

.BoxContent h4 {
  font-size: 36px;
  font-family: "Belleza";
  color: #121a29;
  font-weight: 400;
  margin: 0;
}

.BoxContent p {
  margin: 0;
  color: rgba(18, 26, 41, 0.75);
  font-size: 16px;
}
